@import "scss/variables";
.deleteButton {
  display: none;
  background: transparent;
  color: $color-accent;
  letter-spacing: 2px;
  border: 5px solid $color-accent;
  border-radius: 5px;

  &:hover {
    background: #c1c1c1;
  }
}

.imageWrapper:hover .deleteButton {
  display: block;
}
