@import "scss/mixins";

.heading4 {
  @extend .heading;
  font-size: 30px;
  text-align: left;
  padding-top: 10px;
}

.container {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 100px;
}

.books {
  display: flex;
  flex-wrap: wrap;
  //grid-template-columns: auto auto auto auto auto;

  @include mobile-and-tablet {

  }
}