@import "scss/mixins";

.logoutDiv {
  position: relative;
  grid-column: logoutButton;
}

.dropdown {
  display: none !important;
  position: fixed;
  top: 60px;
  cursor: pointer;
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  width: 100px
}

.dropdown:hover {
  color: blue;
}

.logoutDiv:hover .dropdown {
  display: block !important;
}

.gridContainer {
  @extend .grid-container;
  z-index: 100;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100vw;
  padding: 13px 0px;
  column-gap: 10px;
  grid-template-rows: auto;
  background-color: rgba(255, 255, 255, 0.9) !important;
  grid-template-columns: auto 50px auto auto auto 50px auto;

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;

    a {
      font-size: 12.5px;
      font-weight: 500;
      letter-spacing: 1.5px;
      color: rgba(0, 0, 0, 0.8);
      cursor: pointer;
      text-align: center;

      &:hover {
        color: #e0413d;
      }
    }
  }
}

.logo {
  height: 35px;
  width: auto;
}

.pageno {
  grid-column: 3 / span 3;
}
