@import "variables";

@mixin tablet {
  @media (min-width: #{$small-screen-up}) and (max-width: #{$medium-screen-up}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$small-screen}) {
    @content;
  }
}

@mixin large-devices {
  @media #{$medium-and-up} {
    @content;
  }
}

@mixin mobile-and-tablet {
  @media #{$medium-and-down} {
    @content;
  }
}

.grid-container {
  display: grid;
}

.translucentBox {
  background: rgba(51, 38, 66, 0.8);
  color: #fff;
  padding: 40px;
}

.heading {
  font-size: 40px;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px !important;
  font-weight: 300;
  line-height: 1.2;
  text-transform: uppercase;
}

.error {
  width: 100%;
  text-align: center;
  color: $color-accent;
}

